* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
	background-color: rgb(192, 189, 189);
}

.sliders {
    width: 1440px;
    height: 810px;
	margin: 40px auto 0;
	position: relative;
}

.slider {
    height: inherit;
	overflow: hidden;
	position: relative;
	width: inherit;
	box-shadow: 0 0 20px rgba(0, 0, 0, .5);
}

.texts {
    height: 45px;
	overflow: hidden;
	position: absolute;
	width: 700px;
	bottom: -75px;
	font-size: 36px;
}

.text {
    height: inherit;
	opacity: 0;
	position: absolute;
	width: inherit;
	z-index: 0;
	transform: scale(1.5);
	transition: transform ease-in-out .5s, opacity ease-in-out .5s;
}

.pictures {
    height: inherit;
	opacity: 0;
	position: absolute;
	width: inherit;
	z-index: 0;
	transform: scale(1.5);
	transition: transform ease-in-out .5s, opacity ease-in-out .5s;
}

.picture1 {
    background-image: url('img/bmv_m5.jpg');
    background-position: center;
}

.picture2 {
    background-image: url('img/mercedes_benz_g.jpg');
    background-position: center;
}

.picture3 {
    background-image: url('img/mercedes_benz_s_class.jpg');
    background-position: center;
}

.picture4 {
    background-image: url('img/mercedes_benz_sls_amg.jpg');
    background-position: center;
}

.picture5 {
    background-image: url('img/shevrolekamaro.jpg');
    background-position: center;
}

#picture1:checked ~ .texts > .text1,
#picture2:checked ~ .texts > .text2,
#picture3:checked ~ .texts > .text3,
#picture4:checked ~ .texts > .text4,
#picture5:checked ~ .texts > .text5 {
	opacity: 1;
	z-index: 1;
	transform: scale(1);
}

#picture1:checked ~ .slider > .picture1,
#picture2:checked ~ .slider > .picture2,
#picture3:checked ~ .slider > .picture3,
#picture4:checked ~ .slider > .picture4,
#picture5:checked ~ .slider > .picture5 {
	opacity: 1;
	z-index: 1;
	transform: scale(1);
}


.sliders > input {
    display: none;
}

.sliders .controls {
    right: 0;
    position: absolute;
	bottom: -65px;
}

.sliders label {
    cursor: pointer;
	display: inline-block;
	height: 15px;
	margin: 25px 12px 0 16px;
	position: relative;
	width: 15px;
    border-radius: 50%;
	transition: background ease-in-out .5s;
}

.sliders label:hover {
	background: rgb(207, 132, 132);
}

#picture1:checked ~ .controls label:nth-of-type(1),
#picture2:checked ~ .controls label:nth-of-type(2),
#picture3:checked ~ .controls label:nth-of-type(3),
#picture4:checked ~ .controls label:nth-of-type(4),
#picture5:checked ~ .controls label:nth-of-type(5) {
	background: rgb(71, 53, 53);
}

.sliders label::after {
    border: 2px solid rgb(71, 53, 53);
	content: " ";
	display: block;
	height: 12px;
	left: -4px;
	top: -4px;
	width: 12px;
	border-radius: 50%;
}

