* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

.sliders {
    width: 1440px;
    height: 810px;
	margin: 100px auto 0;
	position: relative;
}

.slider {
    height: inherit;
	overflow: hidden;
	position: relative;
	width: inherit;
	box-shadow: 0 0 20px rgba(0, 0, 0, .5);
}

.pictures {
    height: inherit;
	position: absolute;
	width: inherit;
}

.picture1 {
    background-image: url('img/bmv_m5.jpg');
    background-position: center;
}

.picture2 {
    background-image: url('img/mercedes_benz_g.jpg');
    background-position: center;
}

.picture3 {
    background-image: url('img/mercedes_benz_s_class.jpg');
    background-position: center;
}

.picture4 {
    background-image: url('img/mercedes_benz_sls_amg.jpg');
    background-position: center;
}

.picture5 {
    background-image: url('img/shevrolekamaro.jpg');
    background-position: center;
}
